<div class="position-fixed py-2 px-3 bg-dark text-white rounded-pill" style="bottom:1rem;right:1rem;">
    <div class="pull-right px-0">
        <button class="navbar-toggler fs-0 p-0" type="button" onclick="add()"><span class="navbar-pencil-icon"> </span></button>
    </div>
</div>